  <div class="container">
      <div class="buttons-all" style="margin-bottom: 10px ; margin-top: 30px">
        <button class="btn btn-lg btn-info" [class.active]="filterBy==='all'" (click)="filterBy='all'">All</button>
        <button class="btn btn-lg btn-info" [class.active]="filterBy==='boats'" (click)="filterBy='boats'">Boats</button>
        <button class="btn btn-lg btn-info" [class.active]="filterBy==='camping'" (click)="filterBy='camping'">Camping</button>
        <button class="btn btn-lg btn-info" [class.active]="filterBy==='library'" (click)="filterBy='library'">Library</button>
        </div>
      <div class="row">  
  <div class="col-md-3" *ngFor="let item of (visableImages | filter:filterBy)" >
      <a [routerLink]="['/image', {id:item.id}]"  >
  <img src="{{item.url}}" width="200" height="200" > 
  </a>
  </div>
  </div> 
  </div>
   